#container
  = render :partial => 'global/header'
  #main
    #content
      .title Ice Cream Flavors
      %table.flavor-table 
        - @ice_cream.each do |ice_cream|
          %tr
            %td.flavor #{ice_cream.title}
            %td.description #{ice_cream.description}
    #sidebar
      = render :partial => 'products/partials/sidebar_links'
  = render :partial => 'global/footer'
