- content_for :title do
  Admin: Editing #{@event.title}

= render :partial => 'admin/partials/header'
.main
  .edit-title
    %h1 Editing #{@event.title}
  = render :partial => 'global/flash', :locals => {:flash => flash}
  = render :partial => 'admin/events/edit_links' 
  = render :partial => 'admin/events/form'

