- content_for :title do
  Admin: Viewing #{@event.title}
= render :partial => 'admin/partials/header'
.main
  .edit-title
    %h1 Viewing #{@event.title}
  = render :partial => 'admin/events/show_links'
  .content 
    %font.labels=h @event.title 
    %br
    %font.text= @event.start_date.to_s(:date)
    %font.text.no-margin at
    %font.text.no-margin= @event.start_time.to_s(:time)
    - if valid_date(@event.end_date, @event.end_time)
      %font.text.no-margin &nbsp; - &nbsp; 
      - if same_date(@event.start_date, @event.end_date)
        %font.text.no-margin= @event.end_time.to_s(:time)
      - else
        %font.text.no-margin= @event.end_date.to_s(:date)
        %font.text.no-margin at
        %font.text.no-margin= @event.end_time.to_s(:time)
    %br
    %font.text=h @event.location
    %br
    %font.text= auto_link(@event.link) 
    %br 
    .body-text= simple_format(auto_link(@event.description))



