- content_for :title do
  Admin: Viewing #{@event.title}
= render :partial => 'admin/partials/header'
.main
  .edit-title
    %h1 Viewing #{@event.title}
  = render :partial => 'admin/events/show_links'
  .content 
    %font.labels=h @event.title 
    %br
    %font.text #{@event.start_time.strftime("%b %d, %Y %I:%M%p")} - #{@event.end_time.strftime("%b %d, %Y %I:%M%p")} 
    %br
    %font.text=h @event.location
    - if @event.link.include? "http://"
      %br
      %font.text=h link_to @event.link, @event.link
    - else
      %br
      %font.text=h link_to @event.link, "http://#{@event.link}"
    %br 
    .body-text= simple_format(@event.description)



