- content_for :title do
  The Real Stuff News
#container
  = render :partial => 'global/header'
  #main
    #content
      .title News
      .content-text
        .paginate
          = will_paginate @articles
        - @articles.each do |news|
          .news-title
            = news.title
            - if !time_distance(news.created_at)
              = image_tag('/images/smallnew.gif')
          .created-at &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created on #{news.created_at.strftime("%B %d, %Y")}
          .text= simple_format(auto_link(news.body))
    #sidebar
      = render :partial => '/partials/sidebar_links'
  = render :partial => 'global/footer'