- content_for :title do
  Admin: Editing #{@flavor.name}
= render :partial => 'admin/partials/header'

.main
  .edit-title
    %h1 Editing #{@flavor.name}
  = render :partial => 'global/flash', :locals => {:flash => flash}
  = render :partial => 'admin/flavors/edit_links'  
  = render :partial => 'admin/flavors/form'
        