- content_for :title do
  Admin: Flavors Listing
= render :partial => '/admin/partials/header'

.main
  .title
    %h1 Flavors
  = render :partial => 'global/flash', :locals => {:flash => flash}
  .button
    = link_to image_tag ('/images/icon_large_add.png', :border => 0) + ' New Flavor', new_flavor_path
  %table
    %th Flavor
    %th Product
    %th Description
    -@flavors.each do |flavor|
      %tr
        %td.flavor= flavor.name
        %td.product= flavor.product.name
        %td.description= flavor.description
        %td.icon= link_to image_tag ('/images/icon_small_show.png', :border => 0), flavor_path(flavor), :title => "Show #{flavor.name}"
        %td.icon= link_to image_tag ('/images/icon_small_edit.png', :border => 0), edit_flavor_path(flavor), :title => "Edit #{flavor.name}"
        %td.icon= link_to image_tag ('/images/icon_small_delete.png', :border => 0), flavor_path(flavor), :confirm => 'Are you sure?', :method => :delete, :title => "Delete #{flavor.name}"