<h1>Editing cost</h1>

<% form_for(@cost) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cost %> |
<%= link_to 'Back', costs_path %>