- content_for :title do
  The Real Stuff Events
#container
  = render :partial => 'global/header'
  #main
    #content
      .title Events
      .content-text
        .paginate
          = will_paginate @events
        - @events.each do |event|
          .events-listing
            .event-title=h event.title
            .start-time 
              #{event.start_time.strftime("%b %d, %Y %I:%M%p")}
              - if !event.end_time.nil?
                = " - #{event.end_time.strftime("%b %d, %Y %I:%M%p")}"
            .location= h event.location
            - if event.link.include? "http://"
              .url= link_to event.link, "#{event.link}"
            - else
              .url= link_to event.link, "http://#{event.link}"
            .body-text= h event.description
    #sidebar
      =render :partial => 'partials/sidebar_links'
  = render :partial => 'global/footer'

