.header
  .logo
    = image_tag '/images/logo_realstuff.png'
  .right-area
    .top-container
      .logout
        %p  Welcome, #{link_to current_user.first_name, edit_user_path(current_user.id)} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{link_to  'logout', logout_path}
    .links
      %ul
        %li= link_to 'View Site', root_url(:subdomain => false)
        %li= link_to 'Flavors', flavors_path
        %li= link_to 'Events', events_path
        %li= link_to 'News', articles_path
  